__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
dist/
downloads/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
wandb

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

.ipynb_checkpoints

.python

# Exclude the entire output folder
output/
